<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" href="https://bobanum.github.io/grille/favicon.svg" type="image/svg+xml" />
	<link rel="stylesheet" href="./css/boilerplate.css" />
	<title>Application Javascript</title>
	<script>
		console.log('Hello town!');
	</script>
	<style>
		* {
			outline: 5px solid red;
		}
	</style>
</head>

<body>
	<template>
		<link rel="stylesheet" action="alert(123)"  href="./css/style.css"/>
		<div id="interface" style="background-image: url(img/favicon.svg);">
			<header>
				<img src="https://bobanum.github.io/grille/favicon.svg" alt=""><h1>Application Javascript</h1>
			</header>
			<div class="body" id="app">
				<h1>Lorem ipsum dolor sit.</h1>
				<slot></slot>
			</div>
			<footer><span>&copy; Web 3 : Dynamique</span><strong>Application Javascript</strong></footer>
		</div>

	</template>
</body>

</html>