:host {
    display: block;
}
/* slot[name="header"] {
    display: block;
    padding: .5ch;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: .5em;
    margin-bottom: .5em;
    &:empty {
        opacity: .5;
    }
} */
ul {
    margin: 0;
    padding: 0;
    padding-left: 2ch;
}

.no-heading::marker {
    content: "";
}

:host > ul {
    padding-inline: 0;
    overflow-y: auto;
    height: 100%;

    ul {
        font-size: 0.9em;
        list-style-type: disc;

        li::marker {
            content: "–";
        }
    }
}

li {
    position: relative;

    &.current::after {
        content: "▸";
        font-size: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1;
    }

    >div {
        padding: 0.25em 0;
    }

    &.current>div,
    >div:hover {
        color: #ff0;
        background-color: hsl(60, 50%, 30%);
    }
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0 .5rem;
}

.level-1>div {
    font-weight: bold;
}
