<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" type="image/svg+xml" href="img/favicon.svg">
	<link rel="stylesheet" href="./css/style.css" />
	<title>Theophile Example</title>
	
</head>

<body>
	<template>
		<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" href="./css/temp.css" />
		<div id="interface">
			<slot name="toc"></slot>
			<header>
				<slot name="header">
					<h1>Theophile Example</h1>
					<img src="img/favicon.svg" alt="" style="height: 2.5em; filter: brightness(0) invert();">
				</slot>
			</header>
			<slot name="menu"></slot>
			<div class="body" id="app">
				<slot></slot>
			</div>
			<footer><span>Theophile</span><strong>Theophile Example</strong></footer>
		</div>

	</template>
</body>

</html>