:root, :host {
	--h: 240;
	--s: 50%;
	--ll: 90%;
	--l: 75%;
	--ld: 60%;
	--dl: 40%;
	--d: 30%;
	--dd: 10%;
	@media screen and (prefers-color-scheme: dark) {
		--h: 240;
		--s: 50%;
		--ll: 10%;
		--l: 25%;
		--ld: 40%;
		--dl: 60%;
		--d: 70%;
		--dd: 90%;	
	}
}