<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<!-- <link rel="shortcut icon" href="https://bobanum.github.io/grille/favicon.svg" type="image/svg+xml" /> -->
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="./css/boilerplate.css" />
	<title>Theophile Template</title>
	<script>
		console.log('Hello town!');
	</script>
	<style>
		* {
			outline: 5px solid red;
		}
	</style>
</head>

<body>
	<template>
		<link rel="stylesheet" href="./css/style.css" />
		<div id="interface">
			<header>
				<slot name="header">
					<img src="https://bobanum.github.io/grille/favicon.svg" alt="">
					<h1>Theophile Template</h1>
				</slot>
			</header>
			<div class="body" id="app">
				<h1>Lorem ipsum dolor sit.</h1>
				<slot></slot>
			</div>
			<footer><span>&copy; Web 3 : Dynamique</span><strong>Theophile Template</strong></footer>
		</div>

	</template>
</body>

</html>