@import url('variables.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap');

:root {
	--icon-font: 'Material Symbols Outlined';
}

.examples {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1em;
	align-items: center;
	h2 {
		margin: 0;
	}
}

th-menu {
	--fond: hsl(var(--h), var(--s), var(--d));
	--fond-hover: hsl(var(--h), var(--s), var(--dd));
	--texte-hover: hsl(var(--hh), var(--ss), var(--dl));
	background-color: var(--fond);
	justify-content: center;
}


