@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root, :host {
  --h: -80;
  --s: 100%;
  --l: 20%;
  font-family: "Cormorant Infant", serif;
  font-size: 22px;
  margin: 0;
  background-color: hsl(var(--h), var(--s), var(--l));
  color: white;
  display: flex;
  flex-direction: column;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#app > * {
  padding: 1em;
}
#app > header, #app > footer {
  background-color: hsl(var(--h), var(--s), 10%);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}